<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dexian.robinhood">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".TestActivity"></activity>
        <activity android:name=".Activity.Admin.AdminAddNews" />
        <activity android:name=".Activity.Admin.AdminAddPicture" />
        <activity android:name=".Activity.Admin.AdminAddBkash" />
        <activity android:name=".Activity.Rescue" />
        <activity android:name=".Activity.WebsiteView" />
        <activity android:name=".Activity.RescueNewsActivity" />
        <activity android:name=".Activity.PhotoGalleryActivity" />
        <activity android:name=".Activity.BeVolunteer" />
        <!--
        <service
            android:name=".BackgroundNotificationService"
            android:enabled="true" />

        <receiver
            android:name=".BackgroundNotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />
        -->
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Donate" />
        <activity android:name=".Activity.Members" />
        <activity android:name=".Activity.Emergency" />
        <activity android:name=".Activity.Veterinarian" />
        <activity android:name=".Activity.RescueList" />
        <activity android:name=".Activity.AddRescue" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>